body {
    display: flex;
    align-self: center;
    justify-content: center;
}

#login {
    width: 50%;
    margin-top: 1%;
    /*margin-left: 10%;
    margin-right: 10%;*/
}


/*    Colores     
 #AFB5C6 , #273362*/

#cabezera {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-left: 60px solid #273362;
    border-right: 60px solid #273362;
    border-top: 5px solid #AFB5C6;
    border-bottom: 5px solid #AFB5C6;
}

#Logo {
    align-content: center;
    width: 80%;
    height: 20%;
}

#Nombre {
    margin-top: 10%;
    width: 90%;
}

#Contrasena {
    margin-top: 10%;
    width: 90%;
}

.OlvidarContrasena {
    margin-bottom: 20%;
}

#Entrar {
    margin-bottom: 20%;
    width: 70%;
    background-color: #AFB5C6;
}

@media screen and (max-width: 755px) {
    #login {
        width: 80%;
        margin-top: 3%;
        margin-left: 10%;
        margin-right: 10%;
    }
}

@media screen and (max-width: 440px) {
    #login {
        margin-top: 20%;
        width: 100%;
        margin-bottom: 3%;
        margin-left: 3%;
        margin-right: 3%;
    }
    /*    Colores     
 #AFB5C6 , #273362*/
    #cabezera {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-left: 25px solid #273362;
        border-right: 25px solid #273362;
        border-top: 2px solid #AFB5C6;
        border-bottom: 2px solid #AFB5C6;
    }
    #Nombre {
        margin-top: 20%;
        width: 98%;
    }
    #Contrasena {
        margin-top: 20%;
        width: 98%;
    }
    #Entrar {
        margin-bottom: 20%;
        width: 70%;
        background-color: #AFB5C6;
    }
}