h1{
    font-size: 650%;
}

section{
    bottom: 60%;
    color: white;
    position: absolute;
    text-align: center;
    width: 100%;
}

section.formulario{
    height: 50%;
    bottom: 5%;
    width: 100%;
    text-align: -webkit-center;
}

.formulario ul{
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50%;
    text-align: left;
}

.formulario ul li{
    width: 45%;
    height: 80px;
    margin: 5px;
    border-width: 3px;
    border-bottom-style: solid;
    border-color: white;
    padding-right: 5px;
}