@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

.redes {
    display: flex;
    margin: 0px;
    padding: 0px;
    flex-wrap: wrap;
}

.redes li {
    margin-right: 10px;
}

.nav-link {
    padding: 0px 1px;
    height: 100%;
}

.navbar-nav{
    vertical-align: bottom;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (min-width: 800px) {
    .nav-item {
        border-width: 3px;
        border-right-style: solid;
        border-color: rgba(0, 0, 0, 0.5);
        width: 116px;
        height: 45px;
        text-align: center;
        align-self: center;
    }
}

@media screen and (max-width: 800px) {
    .sectionRedes {
        visibility: collapse;
        height: 0px;
    }
}
