@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

*{
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0px;
}

header{
    position: absolute;
    z-index: 1;
    width: 100%;
}

#Fondo{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
}

nav{
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0,0,0,0.5);
}

ul.paginas{
    display: flex;
    margin: 0px;
    padding: 10px;
    flex-wrap: wrap;
}

ul.paginas li{
    margin: 20px;
    text-align: center;
    margin: 5px;
    align-self: center;
    border-width: 3px;
    border-right-style: solid;
    border-color: rgba(0,0,0,0.5);
    padding-right: 5px;
    width: 100px;
    height: 36px;
}

a:-webkit-any-link{
    text-decoration: none;
    color: white;
}

ul.redes{
    display: flex;
    align-items:center;
    place-content: flex-end;
    margin: 5px;
    margin-right: 20px;
    padding-left: 10px;
}

@media screen and (max-width: 900px){
    #Fondo{
        height: 100%;
        position: fixed;
    } 
}
