@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000f27 !important;
    width: 100%;
    height: 100vh;
}

main {
    position: relative;
    width: 100%;
    height: 100vh;
}

main h1#Titulo {
    color: white;
    font-size: 500%;
    text-align: center;
    justify-self: center;
}


/*el primer div que contiene
los textos del documento*/

main div#capa1 {
    position: absolute;
    z-index: 1;
    /*separacion del la parte superior de la pagina al contenedor de los textos*/
    margin-top: 27px;
    /*separacion del la parte izquierda de la pagina al contenedor de los textos*/
    margin-left: 50%;
    /*tamano del contenedor*/
    width: 41%;
    height: 80%;
}

main div#capa1 div p,
main div#capa1 div h4 {
    color: white;
    margin: 0%;
}

main div#capa1 div h4 {
    text-align: center;
    font-size: 140%;
}

main div#capa1 div p {
    font-size: 94%;
}

main div#capa1 div#TituloMision {
    width: 100%;
    height: 150px;
    margin-bottom: 52px;
}

main div#capa1 div#TituloValores {
    width: 100%;
    height: 308px;
    margin-bottom: 48px;
}

main div#capa1 div#TituloVision {
    width: 100%;
    height: 157px;
}

main figure#capa2,
main figure#capa3 {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 800px;
}

main figure#capa2 img#mapa,
main figure#capa3 img#diagrama {
    width: 100%;
    height: 800px;
}


/*
28,26,24,22,20,18,16,14,12,10,8,6,4,2,1
*/

@media screen and (max-width: 1400px) {
    main h1#Titulo {
        font-size: 380%;
    }
    main div#capa1 div h4 {
        text-align: center;
        font-size: 26px;
    }
    main div#capa1 div p {
        font-size: 14px;
    }
}

@media screen and (max-width: 1230px) {
    main h1#Titulo {
        font-size: 360%;
    }
    main div#capa1 div h4 {
        text-align: center;
        font-size: 26px;
    }
    main div#capa1 div p {
        font-size: 13px;
    }
}

@media screen and (max-width: 1050px) {
    main h1#Titulo {
        font-size: 340%;
    }
    main div#capa1 div h4 {
        text-align: center;
        font-size: 25px;
    }
    main div#capa1 div p {
        font-size: 12px;
    }
}

@media screen and (max-width: 870px) {
    main h1#Titulo {
        font-size: 320%;
    }
    main div#capa1 div h4 {
        text-align: center;
        font-size: 24px;
    }
    main div#capa1 div p {
        font-size: 11px;
    }
}

@media screen and (max-width: 710px) {
    main h1#Titulo {
        font-size: 300%;
    }
    main div#capa1 div h4 {
        text-align: center;
        font-size: 23px;
    }
    main div#capa1 div p {
        font-size: 10px;
    }
}

@media screen and (max-width: 600px) {
    main h1#Titulo {
        font-size: 280%;
    }
    main div#capa1 div h4 {
        text-align: center;
        font-size: 21px;
    }
    main div#capa1 div p {
        font-size: 9px;
    }
}

@media screen and (max-width: 470px) {
    main h1#Titulo {
        font-size: 260%;
    }
    main div#capa1 div h4 {
        text-align: center;
        font-size: 19px;
    }
    main div#capa1 div p {
        font-size: 8px;
    }
}

@media screen and (max-width: 390px) {
    main h1#Titulo {
        font-size: 240%;
    }
    main div#capa1 div h4 {
        text-align: center;
        font-size: 18px;
    }
    main div#capa1 div p {
        font-size: 7px;
    }
}

@media screen and (max-width: 300px) {
    main h1#Titulo {
        font-size: 220%;
    }
    main div#capa1 div h4 {
        text-align: center;
        font-size: 16px;
    }
    main div#capa1 div p {
        font-size: 6px;
    }
}

@media screen and (max-width: 234px) {
    main h1#Titulo {
        font-size: 200%;
    }
    main div#capa1 div h4 {
        text-align: center;
        font-size: 14px;
    }
    main div#capa1 div p {
        font-size: 5px;
    }
}


/*
main h1#Titulo {
        color: white;
        font-size: 400%;
        text-align: center;
        justify-self: center;
    }
@media screen and (max-width: 1298px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 130%;
    }
    main div#capa1 div p {
        font-size: 89%;
    }
}

@media screen and (max-width: 1213px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 120%;
    }
    main div#capa1 div p {
        font-size: 84%;
    }
}

@media screen and (max-width: 1113px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 110%;
    }
    main div#capa1 div p {
        font-size: 80%;
    }
}

@media screen and (max-width: 987px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 100%;
    }
    main div#capa1 div p {
        font-size: 75%;
    }
}

@media screen and (max-width: 783px) {
    main h1#Titulo {
        color: white;
        font-size: 400%;
        text-align: center;
        justify-self: center;
    }
}

@media screen and (max-width: 777px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 95%;
    }
    main div#capa1 div p {
        font-size: 70%;
    }
}

@media screen and (max-width: 693px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 93%;
    }
    main div#capa1 div p {
        font-size: 65%;
    }
}

@media screen and (max-width: 583px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 90%;
    }
    main div#capa1 div p {
        font-size: 60%;
    }
}

@media screen and (max-width: 555px) {
    main div#capa1 div p {
        font-size: 56%;
    }
}

@media screen and (max-width: 450px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 86%;
    }
    main div#capa1 div p {
        font-size: 52%;
    }
}

@media screen and (max-width: 390px) {
    main h1#Titulo {
        color: white;
        font-size: 300%;
        text-align: center;
        justify-self: center;
    }
}

@media screen and (max-width: 367px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 83%;
    }
    main div#capa1 div p {
        font-size: 48%;
    }
}

@media screen and (max-width: 323px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 82%;
    }
    main div#capa1 div p {
        font-size: 46%;
    }
}

@media screen and (max-width: 290px) {
    main h1#Titulo {
        color: white;
        font-size: 250%;
        text-align: center;
        justify-self: center;
    }
}

@media screen and (max-width: 289px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 80%;
    }
    main div#capa1 div p {
        font-size: 42%;
    }
}

@media screen and (max-width: 275px) {
    main div#capa1 div p {
        font-size: 40%;
    }
}

@media screen and (max-width: 290px) {
    main h1#Titulo {
        color: white;
        font-size: 200%;
        text-align: center;
        justify-self: center;
    }
}

@media screen and (max-width: 227px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 78%;
    }
    main div#capa1 div p {
        font-size: 37%;
    }
}

@media screen and (max-width: 214px) {
    main div#capa1 div h4 {
        text-align: center;
        font-size: 77%;
    }
    main div#capa1 div p {
        font-size: 35%;
    }
}

@media screen and (max-width: 202px) {
    main div#capa1 div p {
        font-size: 34%;
    }
}


/*
@media screen and (max-width: 1500px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 1298px) {
    main div#capa1 div h4 {
        font-size: 135%;
    }
    main div#capa1 div p {
        font-size: 80%;
    }
    main div#capa1 div#TituloValores {
        margin-bottom: 105px;
    }
}

@media screen and (max-width: 1160px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 85px;
    }
}

@media screen and (max-width: 1120px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 70px;
    }
}

@media screen and (max-width: 1033px) {
    main div#capa1 div h4 {
        font-size: 125%;
    }
    main div#capa1 div p {
        font-size: 75%;
    }
    main div#capa1 div#TituloValores {
        margin-bottom: 120px;
    }
}

@media screen and (max-width: 1015px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 991px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 974px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 901px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 851px) {
    main div#capa1 div h4 {
        font-size: 110%;
    }
    main div#capa1 div p {
        font-size: 67%;
    }
    main div#capa1 div#TituloValores {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 827px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 80px;
    }
}

@media screen and (max-width: 755px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 65px;
    }
}

@media screen and (max-width: 694px) {
    main div#capa1 div h4 {
        font-size: 100%;
    }
    main div#capa1 div p {
        font-size: 60%;
    }
    main div#capa1 div#TituloValores {
        margin-bottom: 110px;
    }
}

@media screen and (max-width: 674px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 100px;
    }
}

@media screen and (max-width: 630px) {
    main div#capa1 div#TituloValores {
        margin-bottom: 80px;
    }
}
*/