@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
}

header {
    /* position: absolute;
    z-index: 1;*/
    width: 100%;
}


/* se comenta por que ya no la ocupamos
#Fondo {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
}*/

nav {
    display: flex;
    color: white;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.5);
}

ul.paginas {
    display: flex;
    margin: 0px;
    padding: 10px;
    flex-wrap: wrap;
}

ul.paginas li {
    margin: 20px;
    text-align: center;
    margin: 5px;
    align-self: center;
    border-width: 3px;
    border-right-style: solid;
    border-color: rgba(0, 0, 0, 0.5);
    padding-right: 5px;
    width: 100px;
    height: 36px;
}

a:-webkit-any-link {
    text-decoration: none;
    color: white;
}

ul.redes {
    display: flex;
    align-items: center;
    place-content: flex-end;
    margin: 5px;
    margin-right: 20px;
    padding-left: 10px;
}

#btn-hamburguer {
    padding: 10px;
}

#hamburguer-menu {
    /*lo quitamos para que la imagen se acomode*/
    /*position: absolute;*/
    visibility: collapse;
    width: 0px;
    height: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0px;
    display: flex;
}

@media screen and (max-width: 800px) {
    header {
        width: 100%;
        /*z-index: 2;*/
    }
    nav {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }
    ul.paginas {
        visibility: collapse;
        background-color: rgba(0, 0, 0, 0.5);
        flex-direction: column;
        position: absolute;
        z-index: 2;
        padding: 0px;
        top: 13vh;
    }
    ul.paginas li {
        width: 30vh;
        border-width: 0px;
        border-bottom: 3px;
        border-bottom-style: solid;
        border-color: rgba(0, 0, 0, 0.5);
        padding: 0px;
    }
    #hamburguer-menu {
        visibility: visible;
        height: 13vh;
        justify-content: normal;
        width: 100%;
    }
    #btn-hamburguer {
        width: 9vh;
        height: 9vh;
    }
    #btn-hamburguer:active {
        transform: scale(.97);
        transition: transform .3s;
    }
    #logo {
        height: 10vh;
        margin: 1.5vh;
    }
}

@media screen and (max-width: 573px) {
    #logo {
        width: 30vh;
    }
    header {
        width: 100%;
        /*width: auto;*/
    }
}


/*para que el logo no se desborde del menu*/

@media screen and (max-width: 443px) {
    #logo {
        width: 20vh;
    }
}

@media screen and (max-width: 347px) {
    #logo {
        width: 15vh;
    }
}