/*---------------------------------------------NUESTROS SERVICIOS------------------------------------*/

html {
    background: url('../img/NuestrosServicios/fondo-04.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

section.OurServicesSection {
    position: absolute;
    width: 100%;
    top: 7%;
}

h1.OurServicesTitle {
    text-align: center;
    color: white;
    font-size: 500%;
}

ul.OurServices {
    display: flex;
    justify-content: space-around;
    padding: 0px;
}

.NServicio {
    color: white;
    padding: 50px;
    border: 10px;
    text-align: justify;
}

.NServicio h4 {
    text-align: center;
}

img.NSImg {
    width: 80%;
    display: block;
    margin: auto;
}

@media screen and (max-width: 745px) {

    /*  section.OurServicesSection {
        top: 20%; Muy abajo lo cambie
        top: 10%; Pero es lo mismo
    }*/
    #Fondo {
        height: 130%;
    }
}

@media screen and (max-width: 650px) {

   h1.OurServicesTitle {
        width:fit-content;
        font-size:-webkit-xxx-large;
    }

    ul.OurServices {
        width:fit-content;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    .NServicio {
        font-size:larger;
    }
}

@media screen and (max-width: 450px) {
 
   h1.OurServicesTitle {
        width:fit-content;
        font-size:-webkit-xxx-large;
    }

    ul.OurServices {
        width:fit-content;
        margin: 0px;
        display: flex;
        flex-wrap: wrap;
    }

    .NServicio {
        font-size:larger;
    }
}

@media screen and (max-width: 300px) {
    
    h1.OurServicesTitle {
        width: fit-content;
        font-size: -webkit-xxx-large;
    }

    ul.OurServices {
        width: fit-content;
        margin: 0%;
        display: flex;
        flex-wrap: wrap;
    }
