@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000f27;
}

.Vision,
.Valores,
.Mision {
    color: white;
    font-size: 100%;
}

.Titulo {
    color: white;
    font-size: 500%;
}

.mapa,
.diagrama {
    width: 100%;
    height: 800px;
}

#SobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}


/*el primer div que contiene
los textos del documento*/

#capa1 {
    position: absolute;
    z-index: 1;
    /*separacion del la parte superior de la pagina al contenedor de los textos*/
    top: 330px;
    /*separacion del la parte izquierda de la pagina al contenedor de los textos*/
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*tamano del contenedor*/
    width: 40%;
    height: 80%;
}

#TituloValores {
    margin: 13% 0% 0% 0%;
    font-size: 99%;
}

#TituloVision {
    margin: 28% 0% 0% 0%;
    font-size: 99%;
}

#TituloMision {
    margin: 0%;
    font-size: 99%;
}

#ParrafoVision,
#ParrafoValores,
#ParrafoMision {
    font-size: 79%;
    text-align: justify;
}

@media screen and (max-width: 1197px) {
    #capa1 {
        top: 371px;
    }
    #TituloValores {
        margin: 24% 0% 0% 0%;
        font-size: 90%;
    }
    #TituloVision {
        margin: 39% 0% 0% 0%;
        font-size: 90%;
    }
    #TituloMision {
        margin: 0%;
        font-size: 90%;
    }
    #ParrafoVision,
    #ParrafoValores,
    #ParrafoMision {
        font-size: 70%;
    }
}

@media screen and (max-width: 810px) {
    #capa1 {
        top: 476px;
    }
    #TituloMision {
        margin: 0%;
        font-size: 70%;
    }
    #TituloValores {
        margin: 31% 0% 0% 0%;
        font-size: 70%;
    }
    #TituloVision {
        margin: 49% 0% 0% 0%;
        font-size: 70%;
    }
    #ParrafoVision,
    #ParrafoValores,
    #ParrafoMision {
        font-size: 60%;
    }
}

@media screen and (max-width: 505px) {
    .Titulo {
        color: white;
        font-size: 210%;
    }
    #capa1 {
        top: 250px;
        left: 50%;
    }
    #TituloMision {
        margin: 0%;
        font-size: 70%;
    }
    #TituloValores {
        margin: 58% 0% 0% 0%;
        font-size: 70%;
    }
    #TituloVision {
        margin: 92% 0% 0% 0%;
        font-size: 70%;
    }
    #ParrafoVision,
    #ParrafoValores,
    #ParrafoMision {
        font-size: 45%;
    }
}


/*vista en telefonos*/

@media screen and (max-width: 360px) {
    .Titulo {
        color: white;
        font-size: 170%;
    }
    #capa1 {
        top: 230px;
        left: 50%;
    }
    #TituloMision {
        margin: 0%;
        font-size: 70%;
    }
    #TituloValores {
        margin: 58% 0% 0% 0%;
        font-size: 70%;
    }
    #TituloVision {
        margin: 92% 0% 0% 0%;
        font-size: 70%;
    }
    #ParrafoVision,
    #ParrafoValores,
    #ParrafoMision {
        font-size: 45%;
    }
}

#capa2 {
    position: absolute;
    z-index: 0;
}

#capa3 {
    position: absolute;
    z-index: 0;
}