@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-image: url(../img/Nuestros\ expertos/fondo-05.png);
    background-size: 100% 100vh;
    background-attachment: fixed;
    overflow-x: hidden;
}

main h1#Titulo {
    text-align: center;
    color: white;
    font-size: 500%;
    margin: 0px;
    width: 100%;
    top: 200px;
    margin-top: 2%;
    margin-bottom: 2%;
}

@keyframes slideout {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 2%;
    }
}

@keyframes slidein {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 18%;
    }
}


/*
@keyframes slideout {
    from {
        margin-top: 100%;
        width: 300%;
    }
    to {
        margin-top: 0%;
        width: 100%;
    }
}*/


/*-----------------------------Primera Imagen-----------------------------*/

main section#IngenieroCivil {
    color: white;
    width: 80%;
    height: 35%;
    background-image: url('../img/Nuestros\ expertos/IngenieroCivil.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 3%;
    margin-bottom: 3%;
    animation-duration: 6s;
    animation-name: slideout;
}

main section#IngenieroCivil h3 {
    margin-right: 77%;
    margin-bottom: 0px;
    font-size: 150%;
    text-align: center;
}

main section#IngenieroCivil p {
    margin-right: 77%;
    margin-left: 1%;
    margin-top: 0px;
    margin-bottom: 1%;
    font-size: 120%;
    text-align: justify;
}



/*-----------------------------Segunda Imagen-----------------------------*/

main section#IngenieriaEstructural {
    color: black;
    background-image: url('../img/Nuestros\ expertos/IngenieroEstructural.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 35%;
    margin-right: 2%;
    margin-left: 18%;
    margin-bottom: 3%;
    animation-duration: 6s;
    animation-name: slidein;
}

main section#IngenieriaEstructural h3 {
    margin-left: 77%;
    margin-right: 2%;
    margin-bottom: 0px;
    font-size: 150%;
    text-align: center;
}

main section#IngenieriaEstructural p {
    margin-left: 77%;
    margin-right: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 120%;
    text-align: justify;
}


/*--------------------------Tercera Parte---------------------------*/

main section#Arquitecto {
    color: black;
    background-image: url('../img/Nuestros\ expertos/Arquitecto.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 35%;
    margin-left: 2%;
    animation-duration: 6s;
    animation-name: slideout;
}

main section#Arquitecto h3 {
    margin-right: 77%;
    margin-bottom: 0px;
    font-size: 150%;
    text-align: center;
}

main section#Arquitecto p {
    margin-right: 77%;
    margin-left: 1%;
    margin-top: 0px;
    margin-bottom: 1%;
    font-size: 120%;
    text-align: justify;
}

@media screen and (max-width: 1230px) {
    main section#IngenieroCivil h3 {
        font-size: 120%;
    }
    main section#IngenieroCivil p {
        font-size: 100%;
    }
    main section#IngenieriaEstructural h3 {
        font-size: 120%;
    }
    main section#IngenieriaEstructural p {
        font-size: 100%;
    }
    main section#Arquitecto h3 {
        font-size: 120%;
    }
    main section#Arquitecto p {
        font-size: 100%;
    }
}

@media screen and (max-width: 950px) {
    main section#IngenieroCivil h3 {
        font-size: 100%;
    }
    main section#IngenieroCivil p {
        font-size: 80%;
    }
    main section#IngenieriaEstructural h3 {
        font-size: 100%;
    }
    main section#IngenieriaEstructural p {
        font-size: 80%;
    }
    main section#Arquitecto h3 {
        font-size: 100%;
    }
    main section#Arquitecto p {
        font-size: 80%;
    }
}

@media screen and (max-width: 680px) {
    main h1#Titulo {
        font-size: 300%;
    }
    main section#IngenieroCivil h3 {
        font-size: 70%;
    }
    main section#IngenieroCivil p {
        font-size: 60%;
    }
    main section#IngenieriaEstructural h3 {
        font-size: 70%;
    }
    main section#IngenieriaEstructural p {
        font-size: 60%;
    }
    main section#Arquitecto h3 {
        font-size: 70%;
    }
    main section#Arquitecto p {
        font-size: 60%;
    }
}

@media screen and (max-width: 410px) {
    main h1#Titulo {
        font-size: 200%;
    }
    main section#IngenieroCivil {
        margin-top: 10%;
    }
    main section#IngenieroCivil h3 {
        font-size: 50%;
    }
    main section#IngenieroCivil p {
        font-size: 40%;
    }
    main section#IngenieriaEstructural {
        margin-top: 10%;
    }
    main section#IngenieriaEstructural h3 {
        font-size: 50%;
    }
    main section#IngenieriaEstructural p {
        font-size: 40%;
    }
    main section#Arquitecto {
        margin-top: 10%;
    }
    main section#Arquitecto h3 {
        font-size: 50%;
    }
    main section#Arquitecto p {
        font-size: 40%;
    }
}