section.ServiceSection{
    top: 55%;
    position: absolute;
    width: 100%;
}

ul.Services{
    display: flex;
    justify-content: space-around;
    padding: 0px;
    flex-wrap: wrap;
}

.ServiciosRes{
    color: white;
    background-color: rgba(0,0,0,0.5);
    padding: 30px;
    border: 10px;
    height: 25vh;
    width: 40vh;
    margin: 2vh;
}

.ServiciosRes h2{
    text-align: center;
}

.ServiciosRes ul{
    align-items: center;
    padding: 0px;
}

.ServiciosRes li{
    list-style: square;
}

@media screen and (max-width: 1420px){
    .ServiciosRes h2{
        margin: auto;
