h1 {
    font-size: 500%;
    margin: 5vh;
}

html {
    background: url('../img/Contactanos/fondo-02.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

.texto{
    bottom: 60%;
    color: white;
    /*position: absolute;*/
    text-align: center;
    width: 100%;
}

form{
    width: 100%;
    bottom: 20vh;
    position: absolute;
    height: 37vh;
    margin-top: 5%;
}

form ul{
    margin: 0% 20%;
    width: 60%;
    padding: 0px;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.form li{
    margin: 1%;
    min-width: 45%;
    min-height: 80px;
}

input,
textarea{
    width: 100%;
    min-height: 50%;
    background-color: rgba(0,0,0,0);
    color: white;
    border-style: none;
    border-bottom-style: solid;
    border-color: white;
}

input::placeholder,
textarea::placeholder{
    color: white;
}

.msg{
    width: 92%;
}

@media screen and (max-width: 750px){
    form ul{
        width: 90%;
        margin: 0% 5%;
    }
}

@media screen and (max-width: 500px){
    h1{
        margin: 2vh 0vh;
    }
    
    form ul{
        display: grid;
    }
}