@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

html {
    background: url('../img/Nuestros\ expertos/fondo-05.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: 100% 100%;
}

#Titulo {
    margin: 0px;
    width: 100%;
    top: 200px;
}

.Titulo {
    text-align: center;
    color: white;
    font-size: 250%;
    margin: 0px;
    width: 100%;
    top: 2%;
}


/*-----------------------------Primera Imagen-----------------------------*/

#capa1 {
    color: white;
    width: 80%;
    height: 35%;
    background-image: url('../img/Nuestros\ expertos/IngenieroCivil.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin-left: 2%;
}

#IngenieroCivilh3 {
    margin-right: 70%;
    margin-bottom: 0px;
    font-size: 150%;
}

#IngenieroCivilp {
    margin-right: 77%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 120%;
}


/*-----------------------------Segunda Imagen-----------------------------*/

#capa2 {
    color: black;
    background-image: url('../img/Nuestros\ expertos/IngenieroEstructural.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 35%;
    margin-right: 2%;
    margin-left: 18%;
}

#IngenieriaEstructuralh3 {
    margin-left: 77%;
    margin-right: 2%;
    margin-bottom: 0px;
    font-size: 150%;
}

#IngenieriaEstructuralp {
    margin-left: 77%;
    margin-right: 2%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 120%;
}


/*--------------------------Tercera Parte---------------------------*/

#capa3 {
    color: black;
    background-image: url('../img/Nuestros\ expertos/Arquitecto.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    width: 80%;
    height: 35%;
    margin-left: 2%;
}

#Arquitectoh3 {
    margin-right: 70%;
    margin-bottom: 0px;
    font-size: 150%;
}

#Arquitectop {
    margin-right: 77%;
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 120%;
}

@media screen and (max-width: 1230px) {
    #IngenieroCivilh3 {
        font-size: 120%;
    }
    #IngenieroCivilp {
        font-size: 100%;
    }
    #IngenieriaEstructuralh3 {
        font-size: 120%;
    }
    #IngenieriaEstructuralp {
        font-size: 100%;
    }
    #Arquitectoh3 {
        font-size: 120%;
    }
    #Arquitectop {
        font-size: 100%;
    }
}

@media screen and (max-width: 950px) {
    #IngenieroCivilh3 {
        font-size: 100%;
    }
    #IngenieroCivilp {
        font-size: 80%;
    }
    #IngenieriaEstructuralh3 {
        font-size: 100%;
    }
    #IngenieriaEstructuralp {
        font-size: 80%;
    }
    #Arquitectoh3 {
        font-size: 100%;
    }
    #Arquitectop {
        font-size: 80%;
    }
}

@media screen and (max-width: 680px) {
    #IngenieroCivilh3 {
        font-size: 70%;
    }
    #IngenieroCivilp {
        font-size: 60%;
    }
    #IngenieriaEstructuralh3 {
        font-size: 70%;
    }
    #IngenieriaEstructuralp {
        font-size: 60%;
    }
    #Arquitectoh3 {
        font-size: 70%;
    }
    #Arquitectop {
        font-size: 60%;
    }
}

@media screen and (max-width: 410px) {
    #capa1 {
        margin-top: 10%;
    }
    #IngenieroCivilh3 {
        font-size: 50%;
    }
    #IngenieroCivilp {
        font-size: 40%;
    }
    #capa2 {
        margin-top: 20%;
    }
    #IngenieriaEstructuralh3 {
        font-size: 50%;
    }
    #IngenieriaEstructuralp {
        font-size: 40%;
    }
    #capa3 {
        margin-top: 20%;
    }
    #Arquitectoh3 {
        font-size: 50%;
    }
    #Arquitectop {
        font-size: 40%;
    }
}