@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0px;
}

#capa4,
#capa5,
#capa6 {
    position: absolute;
    z-index: 0;
    top: 5%;
}

.IngenieriaCivil,
.IngenieriaEstructural,
.Arquitecto {
    width: 100%;
    height: 820px;
}

#Titulo {
    position: absolute;
    z-index: 1;
    margin: 0px;
    width: 100%;
    top: 15%;
}

.Titulo {
    text-align: center;
    color: white;
    font-size: 300%;
    margin: 0px;
    width: 100%;
    top: 15%;
}

#capa1 {
    position: absolute;
    z-index: 1;
    color: white;
    top: 27%;
    left: 4%;
    width: 15%;
    height: 19%;
}

#capa2 {
    position: absolute;
    z-index: 1;
    color: black;
    top: 49%;
    left: 81%;
    width: 15%;
    height: 19%;
}

#capa3 {
    position: absolute;
    z-index: 1;
    color: black;
    top: 71%;
    left: 4%;
    width: 15%;
    height: 19%;
}

@media screen and (min-width: 1210px) {
    h3 {
        text-align: center;
        margin: 0px;
        margin-bottom: 5%;
        font-size: 150%;
    }
    p {
        font-size: 70%;
    }
}

@media screen and (max-width: 1209px) {
    h3 {
        text-align: center;
        margin: 0px;
        margin-bottom: 5%;
        font-size: 120%;
    }
    p {
        font-size: 55%;
    }
}

@media screen and (max-width: 727px) {
    h3 {
        text-align: center;
        margin: 0px;
        margin-bottom: 5%;
        font-size: 110%;
    }
    p {
        font-size: 45%;
    }
    #Titulo {
        position: absolute;
        z-index: 1;
        margin: 0px;
        width: 100%;
        top: 20%;
    }
    .Titulo {
        text-align: center;
        color: white;
        font-size: 150%;
        margin: 0px;
        width: 100%;
        top: 20%;
    }
    #capa2 {
        position: absolute;
        z-index: 1;
        color: black;
        top: 49%;
        left: 79%;
        width: 15%;
        height: 13%;
    }
}

@media screen and (max-width: 491px) {
    h3 {
        text-align: center;
        margin: 0px;
        margin-bottom: 5%;
        font-size: 75%;
    }
    p {
        font-size: 35%;
    }
    #Titulo {
        position: absolute;
        z-index: 1;
        margin: 0px;
        width: 100%;
        top: 24%;
    }
    .Titulo {
        text-align: center;
        color: white;
        font-size: 100%;
        margin: 0px;
        width: 100%;
        top: 24%;
    }
    #capa1 {
        position: absolute;
        z-index: 1;
        color: white;
        top: 27%;
        left: 4%;
        width: 15%;
        height: 19%;
    }
    #capa2 {
        position: absolute;
        z-index: 1;
        color: black;
        top: 49%;
        left: 78%;
        width: 15%;
        height: 13%;
    }
    #capa3 {
        position: absolute;
        z-index: 1;
        color: black;
        top: 71%;
        left: 4%;
        width: 15%;
        height: 19%;
    }
}