@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
* {
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #000f27 !important;
}

main h1#Titulo {
    color: white;
    font-size: 500%;
    text-align: center;
    justify-self: center;
}


/*el primer div que contiene
los textos del documento*/

main div#capa1 {
    position: absolute;
    z-index: 1;
    /*separacion del la parte superior de la pagina al contenedor de los textos*/
    top: 330px;
    /*separacion del la parte izquierda de la pagina al contenedor de los textos*/
    left: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /*tamano del contenedor*/
    width: 40%;
    height: 80%;
}

main div#capa1 p,
main div#capa1 h4 {
    color: white;
}

main div#capa1 h4#TituloMision {
    margin: 0%;
    font-size: 99%;
}

main div#capa1 h4#TituloValores {
    margin: 13% 0% 0% 0%;
    font-size: 99%;
}

main div#capa1 h4#TituloVision {
    margin: 28% 0% 0% 0%;
    font-size: 99%;
}

main div#capa1 p {
    font-size: 79%;
    text-align: justify;
}

main figure#capa2 {
    position: absolute;
    z-index: 0;
}

main figure#capa3 {
    position: absolute;
    z-index: 0;
}

main figure#capa2 img#mapa,
main figure#capa3 img#diagrama {
    width: 100%;
    height: 800px;
}

@media screen and (max-width: 1253px) {
    main div#capa1 {
        top: 380px;
    }
    main div#capa1 h4#TituloMision {
        font-size: 115%;
    }
    main div#capa1 h4#TituloValores {
        margin: 20% 0% 0% 0%;
        font-size: 115%;
    }
    main div#capa1 h4#TituloVision {
        margin: 30% 0% 0% 0%;
        font-size: 115%;
    }
    main div#capa1 p {
        font-size: 70%;
    }
}

@media screen and (max-width: 991px) {
    main div#capa1 {
        top: 310px;
    }
    main div#capa1 h4#TituloMision {
        font-size: 105%;
    }
    main div#capa1 h4#TituloValores {
        margin: 30% 0% 0% 0%;
        font-size: 105%;
    }
    main div#capa1 h4#TituloVision {
        margin: 40% 0% 0% 0%;
        font-size: 105%;
    }
    main div#capa1 p {
        font-size: 60%;
    }
}

@media screen and (max-width: 799px) {
    main h1#Titulo {
        font-size: 210%;
    }
    main div#capa1 {
        top: 190px;
    }
    main div#capa1 h4#TituloMision {
        margin: 0%;
        font-size: 95%;
    }
    main div#capa1 h4#TituloValores {
        margin: 28% 0% 0% 0%;
        font-size: 95%;
    }
    main div#capa1 h4#TituloVision {
        margin: 50% 0% 0% 0%;
        font-size: 95%;
    }
    main div#capa1 p {
        font-size: 58%;
    }
}

@media screen and (max-width: 505px) {
    main h1#Titulo {
        font-size: 210%;
    }
    main div#capa1 {
        top: 180px;
    }
    main div#capa1 h4#TituloMision {
        margin: 0%;
        font-size: 90%;
    }
    main div#capa1 h4#TituloValores {
        margin: 45% 0% 0% 0%;
        font-size: 90%;
    }
    main div#capa1 h4#TituloVision {
        margin: 65% 0% 0% 0%;
        font-size: 90%;
    }
    main div#capa1 p {
        font-size: 46%;
    }
}


/*vista en telefonos*/

@media screen and (max-width: 334px) {
    main h1#Titulo {
        font-size: 170%;
    }
    main div#capa1 {
        top: 165px;
    }
    main div#capa1 h4#TituloMision {
        margin: 0%;
        font-size: 60%;
    }
    main div#capa1 h4#TituloValores {
        margin: 70% 0% 0% 0%;
        font-size: 60%;
    }
    main div#capa1 h4#TituloVision {
        margin: 100% 0% 0% 0%;
        font-size: 60%;
    }
    main div#capa1 p {
        font-size: 40%;
    }
}

@media screen and (max-width: 316px) {
    main div#capa1 {
        top: 202px;
    }
    main div#capa1 h4#TituloValores {
        margin: 76% 0% 0% 0%;
    }
    main div#capa1 h4#TituloVision {
        margin: 101% 0% 0% 0%;
    }
}