h1 {
    font-size: 650%;
}

html {
    background: url('../img/Contactanos/fondo-02.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

section {
    bottom: 60%;
    color: white;
    /*position: absolute;*/
    text-align: center;
    width: 100%;
}

section.formulario {
    height: 50vh;
    bottom: 5vh;
    width: 100vh;
    text-align: -webkit-center;
}

.formulario ul {
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 50vh;
    text-align: left;
}

.formulario ul li {
    width: 45%;
    height: 80px;
    margin: 5px;
    border-width: 3px;
    border-bottom-style: solid;
    border-color: white;
    padding-right: 5px;
}

@media screen and (max-width: 800px) {
    header {
        width: 100vh;
    }
    section.texto {
        width: max-content;
        margin-left: 10%;
    }
    h1 {
        font-size: 300%;
    }
    .formulario ul {
        width: 90%;
        margin: 0px;
    }
    .formulario ul li {
        width: 70%;
        height: 8vh;
    }
}