header#banner {
    background-color: #ebecf0;
}

main {
    display: inline;
}

nav a.navbar-brand img#logotipo {
    width: 150px;
    height: 40px;
    margin-top: 1px;
}

main iframe {
    height: 500px;
    width: 70%;
    margin-top: 2%;
}

main form {}

main form textarea {
    flex-direction: column;
}